<html>
<body>
  The timezone {{ input_timezone }} has {{ offset > 0 ? '+' ~ offset : offset }} minutes offset to UTC.<br />
  February in this year has {{ february_number_of_days }} days.<br />
  Specified month ({{ month_name}}) has {{ month_days }} days.
</body>
</html>
